* {
  -fx-colour-blue: #0057C8;
  -fx-font-size: 9.2pt;
  /*-fx-font-family: "Helvetica";*/
}

.small-text {
  -fx-font-size: 9pt !important;
}

/* Main */
.title-text {
  -fx-font-size: 13pt;
  -fx-font-family: "Helvetica";
  -fx-font-weight: bold;
}

.info-pane {
  -fx-padding: 20px;
}

/* Buttons */
.recalculate-btn Text {
}

.recalculate-btn {
}

.recalculate-btn:hover {
}

.recalculate-btn:pressed {
}

/* Tabs */
.visual-tab-pane {
  -fx-tab-min-width: 10em;
}

.visual-tab-pane .tab-header-area .tab-header-background {
  /*-fx-opacity: 0;*/
}

.visual-tab-pane .tab {
}

.visual-tab-pane .tab:selected {

}


/* Grid */
.values-grid {
  -fx-font-size: 9pt;
  -fx-font-family: "Arial";
}

.grid-title-box-separator .line {
  -fx-border-color: -fx-colour-blue;
  -fx-border-width: 1 1 0 0;
}

.grid-title {
  -fx-font-size: 9.5pt;
}

/* Drag and drop import XML window */
.drag-drop-window {
  -fx-padding: 40px 40px 20px 40px;
  -fx-background-color: white;
}

.drag-drop-area {
  -fx-border-color: grey;
  -fx-border-width: 1;
  -fx-border-radius: 9px;
  -fx-background-radius: 9px;
  -fx-border-style: segments(5) line-cap round;
}

.drag-drop-area Text {
  -fx-font-size: 13pt;
}

.drag-drop-area .hyperlink {
  -fx-cursor: hand;
  -fx-text-fill: -fx-colour-blue;
  -fx-border-color: transparent;
  -fx-padding: 4 0 4 0;
  -fx-underline: false;
}

.drag-drop-area .hyperlink:hover {
  -fx-text-fill: darkblue;
}


.drag-drop-area-active {
  -fx-border-color: -fx-colour-blue !important;
  -fx-background-color: aliceblue;
  -fx-border-radius: 13px;
  -fx-border-style: none !important;
}

/* Export XML window */
.export-window {
  -fx-padding: 40px;
  -fx-background-color: white;
}

.export-window Text {
  -fx-font-size: 10pt;
}
