.info-pane {
  -fx-padding: 12px;
}

.visual-tab-pane {
  -fx-tab-min-width: 100;
  -fx-font-size: 12;
}

.values-grid {
  -fx-font-size: 9pt;
  -fx-font-family: "Arial";
}

.grid-title-box-separator .line {
  -fx-border-color: blue;
  -fx-border-width: 1 0 0 0;
}

.grid-title {
  -fx-font-size: 9.5pt;
}